@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  background-color:black;
  overflow:hidden;
}
#games{
  background: url('wood.png');

  overflow:hidden;
cursor: url(mouse.png),auto;
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


     border:3px groove rgba(230,230,230,0.7);
     border-radius: 20px/10px;
     height:96vh;
     width:98%;
}
.fixed-top-right {
  position: fixed;
  top: 7px;
  right: 1vw;;
  height:auto;
  width:18%;
 }

#allthethings{
  position:absolute;
  margin:0 auto;
  left:10%;
font-family: 'Roboto';
  height:100%;
  width:25%;
  align-items: center;

background:rgba(30,30,30,0.1);
  z-index:2;
}
#logo
{
height:20vh;
  width:100%;
}
#logo img
{
height:15vh;
  width:100%;
}

#single
{
  margin-bottom:2vh;

margin-bottom: 1vh;
background-color:rgba(1,20,30,0.7);

  text-align:center;
  font-size:4vh;
 background-size: 1px 100%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:white;

  z-index:2;
  cursor:pointer;
  border:3px groove rgba(230,230,230,0.7);
  border-radius: 20px/10px;

}

#single:hover{

  transform:scale(1.1);
  background-color: rgb(77,122,250);
  color:black;
text-shadow: 1px 0px 1px black;

}

#single:hover {

}

@media(max-width:750px)
{
  #allthethings{
  width:40%;
  font-size:2.5vh;
  left:30%;
  }
}
@media(max-width:480px)
{
  #allthethings{
  width:50%;
  font-size:1vh;
  left:25%;
  }

}
